<div class="container">
  <h1>Here is the content of your task</h1>
  <p>Title: <%= @task.name %></p>
  <p>Description: <%= @task.description %></p>
  <p>Number of subtasks: <%= @task.subtasks %></p>
  <%= link_to "Back", root_path %>
</div>
